html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.itter {
    font-family: sans-serif;
    color: #222;
    display: block;
    border: 1px solid #888;
    background-color: #DDD;
    max-width: 30em;
    padding: 0.5em;
    position: relative;
    text-decoration: none;
}

.itter label {
    display: inline-block;
    font-weight: bold;
    width: 4em;
}

.itter button {
    color: #FFF;
    background-color: #26A;
    border: 1px solid #888;
    padding: 0.33em 0.66em;
}

.itter-profile .avatar,
.itter-post .avatar {
    width:  64px;
    height: 64px;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.itter-profile .avatar-rest {
    position: absolute;
    left: calc(1em + 64px);
    top:  0.5em;
    width: calc(100% - 64px - 1.5em);
    line-height: 32px;
    font-size: 16px;
}

.itter-profile .name {
    font-weight: bold;
}

.itter-profile .description {
    margin-top: 0.5em;
    font-style: italic;
}

.itter-post {
    min-height: 120px;
}

.itter-form.at-login .compose-ctn {
    display: none;
}

.iter-form.at-compose .login-ctn {
    display: none;
}

.itter-post .profile {
    display: block;
    text-decoration: none;
    color: #222;
    position: absolute;
    left: 0.5em;
    top:  0.5em;
}

.itter-post .profile-rest {
    display: block;
    text-decoration: none;
    color: #222;
    margin-left: 100px;
}

.itter-form textarea {
    width: 100%;
    height: 5em;
}